.menu_container {
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: -200%;
    opacity: 0;
    right: 0;
    z-index: 991;
    width: 100vw;
    color: cyan;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-items: flex-end;
    transition: all .4s ease-in;
}

.side__bar {
    top: 0;
    opacity: 1;
  }

.cancel__icon {
    position: absolute;
    z-index: 995;
    color: white;
    font-size: 50px;
    top: 30px;
    right: 60px;
}

.menu_container ul{
    position: relative;
    z-index: 995;
    list-style: none;
    font-size: 35px;
}

.menu_container ul li{ 
    color: black;
    margin: 25px 0;
}

.menu_container ul li a{ 
    color: white;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.menu_container ul li a:hover{ 
    color: cyan;
}

.menu_container:before {
    content: '';
    width: 100%;
    height: 1000px;
    background-color: orange;
    position: absolute;
    /* z-index: 990; */
    top: 0;
    right: 0;
    /* right: -100%; */
    /* transform: rotate(300deg); */
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 75%);
}


@media screen and (max-width: 435px){
    .menu_container:before {
        clip-path: none;
    }

    .menu_container {
        align-items: center;
    }
}



